.menubarwrapper{
    width: 300px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom,#16a88f,#95c93f);
    transition: all 1s;
    color: #fff;
}
.menuBarButton{
    position: absolute;
    left: 100%;
    top: 50px;
    padding: 10px;
    color: white;
    /* width: 20px;
    height: 20px; */
    background: black;
    display: none;
}
.menuBarContentWrap{
    padding: 20px;
}
@media(max-width:1024px)
{
    .menubarwrapper{
        position: absolute;
        left: -300px;
    }
    .menuBarButton{
        display: block;
    }
    .menubarwrapper.open{
        left: 0px;
    }
}
