.header{
    background: #20232a;
    color: #fff;
    padding: 30px 15px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
}
